body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0075BE;
}

.App{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
.TittleSection{
    width: 100%;
    height: 18rem;
    background-color:#FFCC00 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0075BE;
    gap: 2%;

}
.TittleSection input{
    width: 18%;
    height: 20%;
    border: none;
    border-radius: 10px;
    background-color: #0075BE;
    font-size: 25px;
    color: white;
}
.TittleSection button{
    width: 22%;
    height: 25%;
    border: none;
    border-radius: 10px;
    background-color: #D5A100;
    font-size: 25px;
    color: white;
}
.TittleSection button:hover{
    cursor: pointer;
    color: #0075BE;
    transition: 0.2s ease-in-out;
    border: 4px #0075BE solid ;
}
.pokemonCard{
    width: 100%;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.pokemonCard img{
    width: 13%;
    height: 20%;
    border-radius: 50%;
    border: #D5A100 25px solid;
    color: #FFCC00;
}

.pokemonCard, h3{
    margin: 1%;
    color: #FFCC00;
}


@media (max-width: 500px){
    .TittleSection{
        height: 17rem;
    }
    .TittleSection h1{
        font-size: 3.5rem;
    }
    .TittleSection button{
        width: 60%;
        height: 25%;
    }
    .TittleSection input{
        width: 50%;
        height: 20%;
    }
    .pokemonCard h1{
        font-size: 1.8rem;
    }
   
}
@media (max-width: 700px){
    .TittleSection button{
        width: 50%;
        height: 25%;
    }
    .TittleSection input{
        width: 35%;
        height: 20%;
    }
}
@media (max-width: 1000px){
    .TittleSection button{
        width: 35%;
        height: 25%;
    }
    .TittleSection input{
        width: 30%;
        height: 20%;
    }
}